html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
    text-decoration: none;
    color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Свойства для обнуления курсива у address */
address {
    font-style: normal;
    /* or */
    font-style: inherit;
}
  
:root{
    --main-txt-color: #212121;
    --dark-blue-txt-color: #0f4877;
    --light-blue-txt-color: #2196F3;
    --medium-light-blue-color: #1d7ece;
    --grey-color: #757575;
    --white-color: #ffffff;
    --dark-white-color: #cecece;
    --dark-grey-color: #2F303A;
    --light-grey-color: #F5F4FA;
}

html{
    box-sizing: border-box;
}

body{
    font-family:'Roboto', 'Verdana';
    color: var(--main-txt-color);
}

/* HEADER */

.container-header {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 25px 0;
}

.navigation{
    display: flex;
    align-items: center;
}

.navigation-logo{
    font-family: 'Raleway', 'Verdana';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--main-txt-color);
    text-decoration: none;
}

.navigation-logo span{
    color: var(--light-blue-txt-color);
}

.navigation-list{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: 93px;
}

.navigation-list a{
    text-decoration: none;
    color: var(--main-txt-color);
}
 
.navigation-list a:hover,
.navigation-list a:focus{
    color: var(--light-blue-txt-color)
}

.navigation-list a:active{
    color: var(--dark-blue-txt-color);
}

.navigation-mail{
    margin-left: 331px;
}
.navigation-mail, .navigation-tel{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--grey-color);
}

.navigation-mail:hover,
.navigation-mail:focus{
    color: var(--light-blue-txt-color);
}

.navigation-tel:hover,
.navigation-tel:focus{
    color: var(--light-blue-txt-color);
}

.navigation-mail:active{
    color: var(--dark-blue-txt-color);
}

.navigation-tel:active{
    color: var(--dark-blue-txt-color);
}

/* MAIN */


/* HERO SECTION */

.container-hero{
    width: 1200px;
    margin: 0 auto;
    padding: 200px 0;
}

.hero-section{
    background-color: #2F303A;
    font-family: "Roboto";
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--white-color);
    text-align: center;
    text-transform: uppercase;
}

.hero-button{
    display: block;
    margin: auto;
    font-family: inherit;
    background: var(--light-blue-txt-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    border: none;
    margin-top: 30px;
    padding: 10px 32px 10px 32px;
    letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus{
    background-color: var(--medium-light-blue-color);
    color: var(--white-color);
}

.hero-button:active{
    background-color: var(--dark-blue-txt-color);
    color: var(--dark-white-color);
}

/* FEATURES SECTION */

.features-container{
    width: 1200px;
    margin: 0 auto;
    padding: 94px 0;
}

.features-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    display: none;
}

.features-list{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.features-list li{
    padding: 0 30px;
}

.features-list h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.features-list p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em; 
    color: var(--grey-color);
}


/* ACTIVITY SECTION */

.activity-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.activity-list{
    list-style: none;
}


/* TEAM SECTION */

.team-section{
    background-color: #F5F4FA;
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-color);
}

.team-list{
    list-style: none;
}

.team-list h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1,18;
    letter-spacing: 0.03em;
    color: var(--main-txt-color);
}

.team-list p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}


/* FOOTER */

footer{
    background-color: var(--dark-grey-color);
}

.footer-logo{
    font-family: 'Raleway', 'Verdana';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--white-color);
    text-decoration: none;
}

.footer-logo span {
    color: var(--light-blue-txt-color);
}

.footer-adress{
    font-style: unset;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.footer-adress a{
    text-decoration: none;
    color: var(--white-color);
}

.footer-adress a:hover,
.footer-adress a:focus{
    color: var(--light-blue-txt-color);
}

.footer-adress a:active{
    color: var(--dark-blue-txt-color);
}

.footer-list{
    list-style: none;
}

.footer-list{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
} 

.footer-list a{
    color: rgba(255, 255, 255, 60%);
    text-decoration: none;
}

.footer-list a:hover,
.footer-list a:focus {
    color: var(--light-blue-txt-color)
}

.footer-list a:active {
    color: var(--dark-blue-txt-color);
}




/* СЕКТОР ПОРТФОЛІО */

/* FILTERS SECTION */

.filters-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-color);
}

.filters-list{
    list-style: none;
}

.filters-list button{
    font-family: inherit;
    border: none;
    background: var(--light-grey-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--main-txt-color);
}

.filters-list button:hover,
.filters-list button:focus{
    background-color: var(--medium-light-blue-color);
    color: var(--white-color);
}
    
.filters-list button:active {
    background-color: var(--dark-blue-txt-color);
    color: var(--dark-white-color);
}

/* TEMPLATES SECTION */

.template-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-color);
}

.template-list{
    list-style: none;
}

.template-list h3{
    font-weight: 700;
     font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-txt-color);
}

.template-list p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}
